<div class='min-h-screen items-center flex flex-col justify-center'">
    <p class="text-xl text-white text-center">Activation mail has been sent. Please check your email!</p>
    <!-- <a href="/auth/login" class="text-blue-400 hover:underline">Log in now</a> -->
  </div>