
  <div class='flex flex-col items-center justify-center min-h-screen bg-gray-900 text-white'>
    <% if (user) { %>
        <h1>Welcome to your cart, <%= user.username %></h1>
        <!-- Display cart items here -->
      <% } else { %>
        <h1>You need to log in to view your cart.</h1>
      <% } %>
  </div>