<section class="carousel-card grid md:grid-cols-2 border rounded p-2">
    <!-- Left Side: Text and Button -->
    <div class="flex flex-col justify-between items-center pb-7">
        <!-- Text and Titles -->
        <div class="text-5xl font-extrabold m-auto md:rotate-[-20deg]">
            <p class="text-lg font-bold">Vintage Collection</p>
            <h2 class="text-[#FFB800]">SNEAKERS</h2>
            <h2>SALE</h2>
        </div>

        <!-- Description and Button -->
        <div class="self-end flex flex-col items-end font-bold gap-7">
            <p class="text-lg">Half the price, twice the style.</p>
            <button class="bg-[#FFB800] text-black px-3 rounded-lg">
                SHOP NOW
            </button>
        </div>
    </div>

    <!-- Right Side: Images -->
    <div class="relative flex items-center justify-center">
        <!-- Product Image -->
        <img src="/assets/nike-shoe.png" alt="Nike Sneaker" class="max-h-[300px] z-20" />
        
        <!-- Background Circle -->
        <img src="/assets/circlebg.png" alt="Background Circle" class="absolute max-h-[200px] top-[5%] z-0 rotate-[-20deg]" />
    </div>
</section>
