
    <!-- Main Card -->
    <div class="bg-gray-900 text-white">
        <!-- First Section -->
        <section class="grid p-3 pt-8 md:grid-cols-2 h-screen items-center md:p-12 gap-6">
            <div class="flex flex-col justify-center gap-2 w-full">
                <button class="w-24 border-solid border-2 border-gray-500 rounded-lg p-2 hover:bg-orange-500">
                    In Stock
                </button>
                <h1 class="text-5xl font-bold">Nike Air Max 90</h1>
                <span class="text-2xl font-bold text-gray-500">LIMITED EDITION</span>
                <p class="text-lg">
                    All that shimmers isn't gold. Decked out in sumptuously smooth, satin-esque fabric,
                    the Dunk Low is dressier than your average pair of sneakers but sporty enough to dress down.
                    Its classic colour combo nods to the sneaker's original Be True to Your School ad campaign,
                    rooting your look to coveted off-court allure.
                </p>
                <div class="flex gap-6 mt-5">
                    <span class="text-3xl font-bold">$489</span>
                    <button class="bg-orange-500 p-2 font-bold rounded-lg text-lg">
                        <a href="/shopping">BUY NOW</a>
                    </button>
                </div>
            </div>
            <div class="flex flex-col md:relative items-center justify-center pl-3">
                <img src="/assets/nike-shoe.png" alt="Nike Air Max 90" class="max-h-[500px] z-20 object-scale-down">
                <p class="hidden md:flex flex-col text-[7rem] md:text-[9rem] leading-[1] font-bold md:text-white/10 w-full md:absolute left-0 z-0">
                    <span>JUST</span>
                    <span>DO</span>
                    <span>IT</span>
                </p>
            </div>
        </section>

        <!-- Mobile Section -->
        <div class="h-[70vh] bg-orange-400 md:hidden flex items-end pl-5">
            <p class="md:hidden flex flex-col text-[7rem] md:text-[9rem] leading-[1] font-bold md:text-white/10 w-full">
                <span>JUST</span>
                <span>DO</span>
                <span>IT</span>
            </p>
        </div>

        <!-- Second Section -->
        <section class="flex flex-col items-center relative py-8 h-[70vh]">
            <p class=" beast text-[1.2rem] sm:text-2xl font-bold tracking-widest animate-bounce">UNLEASH THE BEAST</p>
            <p class="text-[5rem] bottom-[10%] right-[10%] sm:right-auto absolute nike font-black text-white/10 md:font-extrabold md:top-[15%] md:text-[18rem] lg:text-[26rem] lg:top-0 sm:text-[15rem] sm:top-[25%]">
                NIKE
            </p>
            <img class="max-h-[700px] z-20 object-scale-down" src="/assets/ShoeSection2.svg" alt="Shoes">
            <p class="hidden sm:flex absolute sm:text-8xl sm:gap-40 md:gap-44 sm:top-[55%] md:top-[50%] text-red-500 font-extrabold md:text-9xl z-0 lg:gap-64">
                <span>SNEA</span> <span class="text-white">KER</span>
            </p>
        </section>

        <!-- Third Section -->
        <section class="bg-white pb-4 text-black flex flex-col items-center justify-center p-3 pt-[4rem] sm:pt-[10rem] md:pt-[16rem] gap-6">
            <h1 class="text-2xl font-bold">STEP INTO THE STYLE</h1>
            <p class="md:w-3/4 md:text-center text-xl">
                Explore our extensive collection of shoes designed for every member of your family. 
                From stylish and sophisticated options for men to elegant and comfortable choices for women, 
                and playful and durable selections for kids, our website offers a wide range of footwear to suit every taste and need. 
                Discover the latest trends, superior craftsmanship, and exceptional comfort that our shoes provide.
            </p>
            <img src="/assets/modelwithshoes.avif" alt="Model with Shoes">
            <button class="bg-orange-500 px-5 py-2 rounded-xl text-xl font-bold text-white">
                <a href="/shopping">BROWSE OUR COLLECTION</a>
            </button>
        </section>

        <!-- Fourth Section -->
        <section class="flex justify-center">
            <div class="bg-orange-500 p-6 items-center justify-center flex flex-col gap-9 text-2xl font-bold">
                <span>N</span>
                <span>I</span>
                <span>K</span>
                <span>E</span>
            </div>
            <div class="relative flex items-center justify-center">
                <img src="/assets/shoesfourthsection.svg" alt="Shoes Fourth Section" class="max-h-[500px] z-20">
                <p class="text-9xl font-bold absolute flex flex-col gap-1 text-orange-300 bottom-[20px] right-[13px]  z-0">
                    <span>50%</span>
                    <span>OFF</span>
                </p>
                <p class="absolute top-[5%]  text-3xl sm:text-4xl md:text-6xl text-red-600 font-extrabold">
                    Special <span class="text-white">OFFer</span>
                </p>
            </div>
        </section>
    </div>

